# Database Configuration
DATABASE_URL='postgresql://neondb_owner:npg_LT6BGWeXRUJ7@ep-jolly-pine-ahemgsh5-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Authentication
BETTER_AUTH_SECRET=IuSUE8wiFR7pz1uFZYImlQCWrLSaosqr

# API Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Application Settings
LOG_LEVEL=INFO
DEBUG=False
